.home h2 {
  color: #f75270;
}

.home {
  padding: 0rem 1rem 2rem 1rem;
  background: #fff0f6;
  min-height: 100vh;
}


.home-header {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #d81b60;
}


.featured-products {
  margin-bottom: 3rem;
}

.featured-products h2{
  text-align: center;
}


.product-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}


.product-item {
  background: #fce4ec;
  border-radius: 12px;
  /* box-shadow: 0 2px 8px rgba(233, 30, 98, 0.307); */
  padding: 1rem;
  width: 220px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.product-item:hover{
  box-shadow: 0 5px 13px rgba(233, 30, 98, 0.575);
  transform: translateY(-5px) scale(1.02);
}


.product-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 8px #f8bbd0;
}


.about-section, .menu-section, .story-section, .contact-section {
  background: #fff0f6;
  border-radius: 12px;
  box-shadow: 0 2px 8px #f8bbd0;
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
  transition: all 0.3s;
}

.about-section:hover{
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 5px 13px rgba(233, 30, 98, 0.407);;
  color: #ff0000;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}


.menu-item {
  width: 180px;
  background: #f8bbd0;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  color: #ad1457;
  font-weight: bold;
}



